TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN_HERE
TELEGRAM_USER_ID_YOU=YOUR_TELEGRAM_USER_ID
TELEGRAM_USER_ID_WIFE=WIFE_TELEGRAM_USER_ID

OPENWEATHER_API_KEY=YOUR_OPENWEATHER_KEY
CITY=London
WEATHER_UNITS=metric

GOOGLE_DRIVE_FOLDER_ID=YOUR_FOLDER_ID

SHUTDOWN_TIME=23:00
GOOD_MORNING_TIME=07:05

MQTT_BROKER=192.168.1.100
MQTT_PORT=1883
MQTT_USERNAME=YOUR_MQTT_USER
MQTT_PASSWORD=YOUR_MQTT_PASSWORD
